<div id="bakeryHeader" ng-cloak>
    <div class="overlay"></div>

    <md-fab-speed-dial md-open="header.fabOpen" md-direction="right">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab">
                <md-icon class="menu-icon">menu</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button ng-href="https://github.com/MatthewJohnson3154" aria-label="GitHub" class="md-fab md-raised md-mini">
                <md-tooltip md-direction="bottom">GitHub</md-tooltip>
                <md-icon aria-label="GitHub">code</md-icon>
            </md-button>
            <md-button ng-href="https://www.linkedin.com/in/mattadjohnson" aria-label="LinkedIn" class="md-fab md-raised md-mini">
                <md-tooltip md-direction="bottom">LinkedIn</md-tooltip>
                <md-icon aria-label="LinkedIn">face</md-icon>
            </md-button>
            <md-button ng-href="mailto:mattadjohnson@gmail.com" aria-label="Email" class="md-fab md-raised md-mini">
                <md-tooltip md-direction="bottom">Email</md-tooltip>
                <md-icon aria-label="Email">email</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

    <div class="image-content">
        <span class="name">MJ</span>
    </div>

    <div class="image-sub-content">
        <span class="desc">Front End Developer</span>
    </div>
</div>
