<div id="bakeryHeader">
    <div class="bakery-header-overlay" layout="column" layout-align="center center">
        <div class="bakery-header-logo" layout="row" layout-align="center center">
            <div class="logo-text">MJ</div>
        </div>

        <div class="bakery-header-tagline" layout="row" layout-align="center end">
            <div class="tagline-text">
                <span class="position">Front-end Developer</span>
                <a class="uf" href="http://ufl.edu" target="_blank">at UF</a>
            </div>
        </div>
    </div>

    <md-toolbar class="bakery-header-toolbar md-primary">
        <div class="md-toolbar-tools">
            <h1 class="bakery-header-title">
                <a class="md-headline" href="/">Matthew Johnson</a>
            </h1>

            <span flex></span>

            <div class="icon-container">
                <md-button class="md-icon-button" href="https://github.com/MatthewJohnson3154" target="_blank" aria-label="GitHub">
                    <md-icon class="md-title" md-svg-src="app/images/icons/github-box.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button" href="https://linkedin.com/mattadjohnson" target="_blank" aria-label="LinkedIn">
                    <md-icon class="md-title" md-svg-src="app/images/icons/linkedin-box.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button" href="https://twitter.com/mattadjohnson" target="_blank" aria-label="Twitter">
                    <md-icon class="md-title" md-svg-src="app/images/icons/twitter-box.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
</div>
