@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);
@import "bakery-variables";
@import "bakery-header";
@import "bakery-info";
@import "bakery-posts";

body {
    font-family: Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#main {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $bakery-background-grey;
    overflow: scroll;
    -webkit-overflow-scrolling: scroll;
}

a {
    color: lighten($bakery-blue, 10%);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
