<bakery-header></bakery-header>
<!-- main route partial for Guild thoughts home page / -->
<section id="bagelsBakery" flex="none">
    <!-- core content block for Guild thoughts -->
    <md-content id="bakeryContainer" flex layout-padding ng-cloak>
        <div layout="column" layout-fill layout-align="top">
            <!-- CONTENT HERE -->
            <md-content id="bakeryPostContainer" flex layout-padding layout="row" layout-sm="column" layout-xs="column">
                <bakery-info></bakery-info>
                <bakery-reviews></bakery-reviews>
            </md-content>
        </div>
    </md-content>
</section>

<!-- flex separator for sticky footer -->
<div flex></div>

<!-- Guild footer -->
<bakery-footer></bakery-footer>
