#bakeryHeader {
	position: relative;
	display: table;
	height: 28rem;
	width: 100%;
	//background: transparent;
	background: url("../../images/header.jpg");
	background-position: center center;
	background-size: cover;

	.header-container {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		z-index: 2;
	}
}
