.subpage {
	margin: 15px;
	text-align: center;
	background-color: #f4f4f4;

	.stories-subpage {
		text-align: center;
	}

	.subpage-header {
		font-size: 22px;
	}

	.subpage-info {

	}

	.content-container {
		margin: 0 auto;
		padding: 10px 0 0 0;
		text-align: left;
		font-size: 20px;
		color: #585e5e;

		.name {
			margin: 0 auto;
			font-size: 1.4rem;
			text-align: center;
		}

		.bio {
			maring: 0 auto;
			font-size: 1.05rem;
			text-align: center;
		}
	}

	.project-brick {
		display: inline;
		padding: 10px;
	}
}

@media (max-width: 510px) {
	.subpage {
		.content-container {
			.project-list {
				margin: 25px;
			}
		}
		.project-brick {
			display: inline-block;
			img {
				width: 80%;
			}
		}
	}
}