#bagelsBakery {
    #bakeryContainer {
        .profile-info-card {
            margin: 0;

            .headshot {
                border-radius: 50%;
                height: 100px;
                width: 100px;
            }

            .info-card-icon {
                margin-bottom: 4px;
            }
        }
    }
}
