<bakery-header></bakery-header>
<!-- main route partial for Guild thoughts home page / -->
<section id="bagelsBakery" flex="none">
    <!-- core content block for Guild thoughts -->
    <md-content id="bakeryContainer" flex layout-padding ng-cloak>
        <div id="bakeryPostContainer" layout-gt-sm="row" layout-sm="column" layout-padding layout-align="top">
            <!-- CONTENT HERE -->
            <bakery-info layout="column" flex="25" flex-xs="100" flex-sm="100" layout-align="top"></bakery-info>
            <bakery-posts layout="column" flex="100" flex-gt-sm="75" layout-align="top"></bakery-posts>
        </div>
    </md-content>
</section>

<!-- flex separator for sticky footer -->
<div flex></div>

<!-- Guild footer -->
<bakery-footer></bakery-footer>
