<div layout="column" layout-fill flex="25" flex-xs="100" flex-sm="100" layout-align="top">
    <md-card class="profile-info-card">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Matthew Johnson</span>
                <span class="md-subhead">Front-end Developer</span>
            </md-card-title-text>
            <md-card-title-media>
                <img src="images/mj.jpg" class="headshot md-whiteframe-4dp" alt="Matthew Johnson">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-button href="https://twitter.com/mattadjohnson" hide-gt-sm>Twitter</md-button>
            <md-button class="md-primary md-hue-4" href="https://paypal.me/mattadjohnson" target="_blank">
                <md-icon class="donate-icon">monetization_on</md-icon>
                <span>BUY ME A BAGEL</span>
            </md-button>
        </md-card-actions>
    </md-card>
    <br />
    <twitter-timeline class="md-whiteframe-2dp" hide-xs hide-sm>
        <a class="twitter-timeline" href="https://twitter.com/mattadjohnson" data-tweet-limit="4">Tweets by mattadjohnson</a>
    </twitter-timeline>
</div>
