<div layout="column" layout-fill flex-gt-sm="75" flex="100" layout-align="top">
    <md-card class="bakery-post-card">
        <md-card-title class="bakery-post-card-title">
            <md-card-title-text>
                <span class="md-headline">Imgular - My First AngularJS Project</span>
                <span class="md-subhead">Date: July 15th, 2016</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content class="bakery-post-card-content">
            <p>Before I began to heavily use AngularJS at work, I wanted to create a small project in my spare time to tinker with the framework, and get a laugh or two out of it. Imgular was the result of this idea, and it provided both horrors and chuckles to me as it generated thumbnails of random images from <a href="https://imgur.com" target="_blank">imgur</a>.</p>

            <p>I have yet to rework the code of this classic masterpiece, and I'm not sure when I ever will, so for now I use it's codebase as a 'what not to do' with AngularJS (or merely coding in general). You can check it out <a href="https://github.com/MatthewJohnson3154/imgular" target="_blank">here</a>. If the code isn't enough to scare you away, I went ahead and revived it for use, just note that it may return NSFW results, so use with care. Cheers, and happy image hunting...</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary md-hue-4">
                <span>Live Demo</span>
            </md-button>
        </md-card-actions>
    </md-card>

    <md-card class="bakery-post-card">
        <md-card-title class="bakery-post-card-title">
            <md-card-title-text>
                <span class="md-headline">Imgular - My First AngularJS Project</span>
                <span class="md-subhead">Date: July 15th, 2016</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content class="bakery-post-card-content">
            <p>Before I began to heavily use AngularJS at work, I wanted to create a small project in my spare time to tinker with the framework, and get a laugh or two out of it. Imgular was the result of this idea, and it provided both horrors and chuckles to me as it generated thumbnails of random images from <a href="https://imgur.com" target="_blank">imgur</a>.</p>

            <p>I have yet to rework the code of this classic masterpiece, and I'm not sure when I ever will, so for now I use it's codebase as a 'what not to do' with AngularJS (or merely coding in general). You can check it out <a href="https://github.com/MatthewJohnson3154/imgular" target="_blank">here</a>. If the code isn't enough to scare you away, I went ahead and revived it for use, just note that it may return NSFW results, so use with care. Cheers, and happy image hunting...</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary md-hue-4">
                <span>Live Demo</span>
            </md-button>
        </md-card-actions>
    </md-card>

    <md-card class="bakery-post-card">
        <md-card-title class="bakery-post-card-title">
            <md-card-title-text>
                <span class="md-headline">Imgular - My First AngularJS Project</span>
                <span class="md-subhead">Date: July 15th, 2016</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content class="bakery-post-card-content">
            <p>Before I began to heavily use AngularJS at work, I wanted to create a small project in my spare time to tinker with the framework, and get a laugh or two out of it. Imgular was the result of this idea, and it provided both horrors and chuckles to me as it generated thumbnails of random images from <a href="https://imgur.com" target="_blank">imgur</a>.</p>

            <p>I have yet to rework the code of this classic masterpiece, and I'm not sure when I ever will, so for now I use it's codebase as a 'what not to do' with AngularJS (or merely coding in general). You can check it out <a href="https://github.com/MatthewJohnson3154/imgular" target="_blank">here</a>. If the code isn't enough to scare you away, I went ahead and revived it for use, just note that it may return NSFW results, so use with care. Cheers, and happy image hunting...</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary md-hue-4">
                <span>Live Demo</span>
            </md-button>
        </md-card-actions>
    </md-card>

    <md-card class="bakery-post-card">
        <md-card-title class="bakery-post-card-title">
            <md-card-title-text>
                <span class="md-headline">Imgular - My First AngularJS Project</span>
                <span class="md-subhead">Date: July 15th, 2016</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content class="bakery-post-card-content">
            <p>Before I began to heavily use AngularJS at work, I wanted to create a small project in my spare time to tinker with the framework, and get a laugh or two out of it. Imgular was the result of this idea, and it provided both horrors and chuckles to me as it generated thumbnails of random images from <a href="https://imgur.com" target="_blank">imgur</a>.</p>

            <p>I have yet to rework the code of this classic masterpiece, and I'm not sure when I ever will, so for now I use it's codebase as a 'what not to do' with AngularJS (or merely coding in general). You can check it out <a href="https://github.com/MatthewJohnson3154/imgular" target="_blank">here</a>. If the code isn't enough to scare you away, I went ahead and revived it for use, just note that it may return NSFW results, so use with care. Cheers, and happy image hunting...</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary md-hue-4">
                <span>Live Demo</span>
            </md-button>
        </md-card-actions>
    </md-card>
</div>
